@font-face {
    font-family: book-oldman;
    src: url(../font/BOOKOS.TTF);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
  
.wrapper {
    width: 100%;
    max-width: 1440px;
    background-color: white;
    margin: 0 auto;
}


/* !!!!!!TOP SECTION!!!!!! */

.top{
    background: url(../IMG/bg/top-bg.jpg);
    background-repeat: no-repeat;
    display: relative;
    min-height: 1062px;
}

.menu{
    padding-left: 40px;
    display: relative;
}

.menu  *{
    display: inline-block;
    margin-left: 10px;
}

#menu-intro{
    display: absolute;
    float: left;
    top: -100px;
    animation-name: slidedown;
    animation-duration: 2s;
}

@keyframes slidedown {
    from {
        transform: translate3d(0, -100%, 0);
        visibility: visible;
      }
    
      to {
        transform: translate3d(0, 0, 0);
      }
  }

#menu-about-me{
    display: absolute;
    float: left;
    animation-name: slidedown;
    animation-duration: 2s;
}

#menu-about-me{
    z-index: 5;
    padding-left: 50px;
}

#menu-works{
    margin-right: -160px;
    animation-name: slidedown;
    animation-duration: 2s;
}

#menu-contacts{
    float: right;
    padding-right: 60px;
    animation-name: slidedown;
    animation-duration: 2s;
}



.menu a:hover{
    cursor: pointer;
    filter: drop-shadow(8px 8px 7px #d1d1d1);

}

/* !!!!!!INTRO SECTION!!!!!! */
@keyframes slideright {
    from {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
      }
    
      to {
        transform: translate3d(0, 0, 0);
      }
  }

#intro{
    background: url(../IMG/bg/intro-bg.jpg);
    background-repeat: no-repeat;
    min-height: 737px;
}

#intro h2{
    font-family: book-oldman;
    font-size: 48px;
    color: #927964;
    font-weight: 600;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

#intro-text{
    display: relative;
    position: relative;
    text-align: center;
    color: #806651;
    z-index: 5;
    padding-top: 15px;
    line-height: 35px;
    animation-name: slideright;
    animation-duration: 5s;
}

#intro-text::before{
    position: absolute;
    content: url(../IMG/intro-before.png);
    z-index: -3;
    width: 100%;
    height: 65%;
    left: 0;
    top: -60px;
    animation-name: slideright;
    animation-duration: 1s;
}

#intro-text h3{
    font-size: 28px;
    font-weight: lighter;
}

#intro-text p{
    padding-top: 60px;
    font-size: 24px;
}

/* !!!!!!TOP SECTION!!!!!! */

@keyframes slideleft {
    from {
        transform: translate3d(100%, 0, 0);
        visibility: visible;
      }
    
      to {
        transform: translate3d(0, 0, 0);
      }
  }

#about-me{
    background: url(../IMG/bg/about-me-bg.jpg);
    min-height: 997px;
    background-repeat: no-repeat;
}

#about-me-subtitle{
    padding-top: 50px;
    padding-left: 125px;
    animation-name: slideleft;
    animation-duration: 3s;
}

#about-me-text{
    display: relative;
    position: relative;
    float: right;
    text-align: center;
    color: #806651;
    z-index: 5;
    line-height: 35px;
    animation-name: abmeslideleft;
    animation-duration: 3s;
    font-family: book-oldman;
    padding-top: 300px;
    padding-right: 1100px;
    line-height: 50px;
    clear: both;
}

#about-me-text h2{
    font-size: 48px;
    color: #806651;
    padding-left: 250px;
    margin-right: -1000px;
    margin-top: -40px;
}

#about-me-text h3{
    font-size: 35px;
    color: #806651;
    padding-top: 30px;
    padding-left: 600px;
    margin-right: -1000px;
    text-align: left;
}

#about-me-text p{
    font-size: 24px;
    color: #806651;
    z-index: 6;
    padding-top: 40px;
    padding-left: 600px;
    margin-right: -1000px;
    text-align: left;
    line-height: 30px;
}

#about-me-text::before{
    position: absolute;
    content: url(../IMG/about-me-bg.png);
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 140px;
    top: 50px;
}

#propic{
    position: absolute;
    z-index: 5;
    padding-left: 180px;
    margin-top: 230px;
    float: left;
    animation-name: abmeslideleft;
    animation-duration: 3s;
}

@keyframes abmeslideleft {
    from {
        transform: translate3d(100%, 0, 0);
        visibility: visible;
      }
    
      to {
        transform: translate3d(0, 0, 0);
      }
  }

/* !!!!!!WORKS SECTION!!!!!! */
#works{
    background: url(../IMG/bg/works-bg.jpg);
    min-height: 2544px;
    background-repeat: no-repeat;
}

#works-subtitle{
    padding-top:100px;
    padding-left: 0px;
    animation-name: slideright;
    animation-duration: 3s;
}

#works h2{
    font-family: book-oldman;
    font-size: 48px;
    color: #927964;
    font-weight: 600;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

.internship-projects p{
    font-family: book-oldman;
    color: #806651;
    font-size: 24px;
    text-align: center;
    padding-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    line-height: 40px;
}

/* !!!!!!BOTTOM SECTION!!!!!! */
.bottom{
    margin-top: 60px;
    padding-top: 80px;
    background: url(../IMG/bg/contacts-bg.png);
    min-height: 660px;
    background-repeat: no-repeat;
}

.contact-logo{
    position: relative;
    clear: both;
    margin-top: 50px;
    overflow: hidden;
}

.logo{
    position: relative;
    margin-top: 70px;
    clear: both;
    margin-left: 90px;
    transition: transform;
    transition-duration: 2s;
    z-index: 10;
}

.logo:hover{
    transform: scale(1.2); 
}

.contact-text{
    position: absolute;
    z-index: 18;
    font-size: 32px;
    color: #806651;
}

#linkedin-text{
    margin-top: -68px;
    padding-left: 230px;
}

#instagram-text{
    margin-top: -68px;
    padding-left: 230px;
}
#email-text{
    margin-top: -54px;
    padding-left: 230px;
}

#divider{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    z-index: 6;
    padding-left: 680px;
    margin-top: -420px;
}

#form{
    position: absolute;
    font-size: 28px;
    margin-left: 820px;
    margin-top: -420px;
    color: #837a73;
}

#nama, #email{
    margin-top: 10px;
    height: 40px;
    width: 510px;
}

#pesan{
    margin-top: 10px;
    width: 510px;
}

#form-button{
    margin-top: 30px;
    margin-left: 330px;
    margin-bottom: 40px;
    text-align: center;
    background-color: #d9cec6;
    border-color: #d9cec6;
    border-radius: 10px;
    width: 177px;
    height: 45px;
    font-size: 18px;
    font-weight: bold;
    font-family: book-oldman;
}

#form-button:hover{
    background-color: #ffffff;
    color: #134753;
    cursor: pointer;
}

/* !!!!!!SWIPER!!!!!! */

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function,initial);
    box-sizing: content-box;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-1{
    margin-top: -50px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    object-fit: cover;
}


.swiper-2{
    width: 100%;
    height: 100%;
}

.swiper-wrapper-2{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function,initial);
    box-sizing: content-box;
}

.swiper-wrapper-2 img{
    position: relative;
    max-height: 700px;
    z-index: 2;
}

.swiper-slide-2{
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* !!!!!!BUTTON!!!!!! */

.btn-padding{
    padding-top: 50px;
    margin: auto;
    text-align: center;
}
  
.btn{
    text-align: center;
    background-color: #d9cec6;
    border-color: #d9cec6;
    border-radius: 20px;
    width: 464px;
    height: 104px;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    padding-left: 35px;
    margin-bottom: 20px;
    filter: drop-shadow(8px 8px 7px #a0a0a0);
}
  
.btn span{
    transition: 0.5s;
    display: inline-block;
    text-align: center;
    color: #5f4c3c;
    font-family: book-oldman;
}
  
.btn span:after{
    content: '\00bb';
    opacity: 0;
    right: 0px;
    transition: 0.3s;
    top: 0;
    padding-left: 25px;
}
  
.btn:hover span{
    padding-right: 25px;
}
  
.btn:hover span:after{
    opacity: 1;
    right: 0;
}
  
.btn:hover{
    background-color: #ffffff;
    color: #134753;
    cursor: pointer;
}